In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define the column names
column_names = ['id', 'type', 'x', 'y', 'z', 'radius', 'parent_id']
# Read the file into a pandas DataFrame, skipping the first line
df1 = pd.read_csv('OP_1test.swc', sep='\s+', skiprows=1, names=column_names)
# Read the file into a pandas DataFrame, skipping the first line
df2 = pd.read_csv('OP_3.swc', sep='\s+', skiprows=1, names=column_names)

In [3]:
# Display the DataFrame
#display(df1)

In [4]:
# Display the DataFrame
#display(df2)

# DF

In [5]:
def moving_avg_w_euclidean_thresh(sorted_df, window_sz, thresh, typ=1):
    # Calculate the moving average for each axis
    sorted_df['x_moving_avg'] = sorted_df['x'].rolling(window=window_sz).mean()
    sorted_df['y_moving_avg'] = sorted_df['y'].rolling(window=window_sz).mean()
    sorted_df['z_moving_avg'] = sorted_df['z'].rolling(window=window_sz).mean()
    
    # Calculate the Euclidean distance between the original 'x', 'y', 'z' values and their moving averages
    sorted_df['moving_avg_distance'] = np.sqrt(
        (sorted_df['x'] - sorted_df['x_moving_avg'])**2 +
        (sorted_df['y'] - sorted_df['y_moving_avg'])**2 +
        (sorted_df['z'] - sorted_df['z_moving_avg'])**2
    )
    
    # Replace the 'x', 'y', and 'z' values with their respective moving averages if the distance is below the threshold
    modified_points = (sorted_df['moving_avg_distance'] < thresh).sum()
    sorted_df['x'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['x_moving_avg'], sorted_df['x'])
    sorted_df['y'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['y_moving_avg'], sorted_df['y'])
    sorted_df['z'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['z_moving_avg'], sorted_df['z'])
    sorted_df['type'] = typ
    # before drop columns, displaying the df
    complete_df = sorted_df.copy()
    display(complete_df)
    # Drop the moving average and distance columns
    sorted_df.drop(columns=['x_moving_avg', 'y_moving_avg', 'z_moving_avg', 'moving_avg_distance'], inplace=True)

    return sorted_df, modified_points

bons parametros de suavização para o OP_1test.swc (moving_avg=False) 0.538 -> 0.841

new_df = moving_avg_w_euclidean_thresh(sorted_df, 3, 4)

In [6]:
# Sort the DataFrame by 'id' in ascending order
sorted_df = df2.sort_values(by='id')

# Apply the moving average with Euclidean distance threshold
new_df, modified_points_asc = moving_avg_w_euclidean_thresh(sorted_df, 2, 1, 4)

# Sort the resulting DataFrame by 'id' in descending order
sorted_df_desc = new_df.sort_values(by='id', ascending=False)

# Apply the moving average with Euclidean distance threshold again
final_df, modified_points_desc = moving_avg_w_euclidean_thresh(sorted_df_desc, 2, 1, 4)

# Sort the final DataFrame by 'id' in ascending order
final_df_sorted = final_df.sort_values(by='id')

,id,type,x,y,z,radius,parent_id,x_moving_avg,y_moving_avg,z_moving_avg,moving_avg_distance
0,1,4,95.0,180.0,37.0,1.0,-1,NaN,NaN,NaN,NaN
1,2,4,94.5,180.5,37.0,1.0,1,94.5,180.5,37.0,0.707107
2,3,4,93.5,181.0,37.0,1.0,2,93.5,181.0,37.0,0.500000
3,4,4,92.5,181.5,37.0,1.0,3,92.5,181.5,37.0,0.707107
4,5,4,91.5,182.0,37.0,1.0,4,91.5,182.0,37.0,0.500000
...,...,...,...,...,...,...,...,...,...,...,...
679,680,4,216.5,209.5,56.5,1.0,679,216.5,209.5,56.5,0.866025
680,681,4,217.0,210.5,57.0,1.0,680,217.0,210.5,57.0,0.500000
681,682,4,217.5,211.5,57.0,1.0,681,217.5,211.5,57.0,0.707107
682,683,4,218.0,212.5,57.0,1.0,682,218.0,212.5,57.0,0.500000
683,684,4,218.5,213.5,56.5,1.0,683,218.5,213.5,56.5,0.866025

,id,type,x,y,z,radius,parent_id,x_moving_avg,y_moving_avg,z_moving_avg,moving_avg_distance
683,684,4,218.50,213.50,56.50,1.0,683,NaN,NaN,NaN,NaN
682,683,4,218.25,213.00,56.75,1.0,682,218.25,213.00,56.75,0.612372
681,682,4,217.75,212.00,57.00,1.0,681,217.75,212.00,57.00,0.559017
680,681,4,217.25,211.00,57.00,1.0,680,217.25,211.00,57.00,0.559017
679,680,4,216.75,210.00,56.75,1.0,679,216.75,210.00,56.75,0.612372
...,...,...,...,...,...,...,...,...,...,...,...
4,5,4,91.00,182.25,37.00,1.0,4,91.00,182.25,37.00,0.559017
3,4,4,92.00,181.75,37.00,1.0,3,92.00,181.75,37.00,0.559017
2,3,4,93.00,181.25,37.00,1.0,2,93.00,181.25,37.00,0.559017
1,2,4,94.00,180.75,37.00,1.0,1,94.00,180.75,37.00,0.559017
0,1,4,94.75,180.25,37.00,1.0,-1,94.75,180.25,37.00,0.353553

nov 12 - Agora aplica a media movel em ordem crescente, e depois em ordem decrescente

In [7]:
# Count the total number of modified points
num_rows = len(final_df_sorted)
total_modified_points = (((modified_points_asc + modified_points_desc)/num_rows)-1)*num_rows
print(f"Total number of modified points: {total_modified_points}\n(((modified_points_asc + modified_points_desc)/num_rows)-1)*num_rows")

# Save the modified DataFrame to a new file without the header
#final_df_sorted.to_csv('OP_1_modified-f.swc', sep=' ', index=False, header=False)
final_df_sorted.to_csv('OP_3_modified-f.swc', sep=' ', index=False, header=False)

Total number of modified points: 653.0
(((modified_points_asc + modified_points_desc)/num_rows)-1)*num_rows