In [1]:
import pandas as pd
import numpy as np

In [2]:
# Define the column names
column_names = ['id', 'type', 'x', 'y', 'z', 'radius', 'parent_id']
# Read the file into a pandas DataFrame, skipping the first line
df1 = pd.read_csv('OP_2test.swc', sep=' ', skiprows=1, names=column_names)
# Read the file into a pandas DataFrame, skipping the first line
df2 = pd.read_csv('OP_3.swc', sep=' ', skiprows=1, names=column_names)

In [3]:
# Display the DataFrame
#display(df1)

In [4]:
# Display the DataFrame
#display(df2)

# DF

In [5]:
def moving_avg_w_euclidean_thresh(sorted_df, window_sz, thresh, typ=1):
    # Calculate the moving average for each axis
    sorted_df['y_moving_avg'] = sorted_df['y'].rolling(window=window_sz, center=True, closed='both').mean()
    sorted_df['z_moving_avg'] = sorted_df['z'].rolling(window=window_sz, center=True, closed='both').mean()
    sorted_df['x_moving_avg'] = sorted_df['x'].rolling(window=window_sz, center=True, closed='both').mean()
    
    # Calculate the Euclidean distance between the original 'x', 'y', 'z' values and their moving averages
    sorted_df['moving_avg_distance'] = np.sqrt(
        (sorted_df['x'] - sorted_df['x_moving_avg'])**2 +
        (sorted_df['y'] - sorted_df['y_moving_avg'])**2 +
        (sorted_df['z'] - sorted_df['z_moving_avg'])**2
    )
    
    # Replace the 'x', 'y', and 'z' values with their respective moving averages if the distance is below the threshold
    modified_points = (sorted_df['moving_avg_distance'] < thresh).sum()
    sorted_df['x'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['x_moving_avg'], sorted_df['x'])
    sorted_df['y'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['y_moving_avg'], sorted_df['y'])
    sorted_df['z'] = np.where(sorted_df['moving_avg_distance'] < thresh, sorted_df['z_moving_avg'], sorted_df['z'])
    sorted_df['type'] = typ
    # before drop columns, displaying the df
    complete_df = sorted_df.copy()
    display(complete_df)
    # Drop the moving average and distance columns
    sorted_df.drop(columns=['x_moving_avg', 'y_moving_avg', 'z_moving_avg', 'moving_avg_distance'], inplace=True)

    return sorted_df, modified_points

bons parametros de suavização para o OP_1test.swc (moving_avg=False) 0.538 -> 0.841

new_df = moving_avg_w_euclidean_thresh(sorted_df, 3, 4)

In [6]:
# Sort the DataFrame by 'id' in ascending order
sorted_df = df1.sort_values(by='id')

# Apply the moving average with Euclidean distance threshold
new_df, modified_points_asc = moving_avg_w_euclidean_thresh(sorted_df, 5, 1.5, 4)
new_df.to_csv('OP_2_modified-c.swc', sep=' ', index=False, header=False)
print("modified points: ", modified_points_asc)
# # Sort the resulting DataFrame by 'id' in descending order
# sorted_df_desc = new_df.sort_values(by='id', ascending=False)

# # Apply the moving average with Euclidean distance threshold again
# final_df, modified_points_desc = moving_avg_w_euclidean_thresh(sorted_df_desc, 5, 1.5, 4)

# # Sort the final DataFrame by 'id' in ascending order
# final_df_sorted = final_df.sort_values(by='id')

,id,type,x,y,z,radius,parent_id,y_moving_avg,z_moving_avg,x_moving_avg,moving_avg_distance
0,1,4,1.000000,391.0,26.000000,1.0,-1,NaN,NaN,NaN,NaN
1,2,4,1.000000,392.0,26.000000,1.0,1,NaN,NaN,NaN,NaN
2,3,4,1.000000,390.0,26.000000,1.0,1,NaN,NaN,NaN,NaN
3,4,4,1.571429,389.0,26.571429,1.0,3,389.000000,26.571429,1.571429,0.606092
4,5,4,1.625000,388.5,26.625000,1.0,4,388.500000,26.625000,1.625000,0.728869
...,...,...,...,...,...,...,...,...,...,...,...
785,786,4,225.500000,185.0,66.500000,1.0,785,185.000000,66.500000,225.500000,0.707107
786,787,4,226.250000,184.5,66.750000,1.0,786,184.500000,66.750000,226.250000,0.935414
787,788,4,228.000000,183.0,66.000000,1.0,787,184.142857,66.857143,226.714286,1.921946
788,789,4,229.000000,182.0,66.000000,1.0,788,NaN,NaN,NaN,NaN
789,790,4,228.000000,184.0,68.000000,1.0,787,NaN,NaN,NaN,NaN

modified points:  726

nov 12 - Agora aplica a media movel em ordem crescente, e depois em ordem decrescente

In [7]:
# # Count the total number of modified points
# num_rows = len(final_df_sorted)
# total_modified_points = (((modified_points_asc + modified_points_desc)/num_rows)-1)*num_rows
# print(f"Total number of modified points: {total_modified_points}\n(((modified_points_asc + modified_points_desc)/num_rows)-1)*num_rows")

# # Save the modified DataFrame to a new file without the header
# #final_df_sorted.to_csv('OP_1_modified-f.swc', sep=' ', index=False, header=False)
# final_df_sorted.to_csv('OP_3_modified-f.swc', sep=' ', index=False, header=False)